[submodule "emap/readerwriterqueue"]
	path = emap/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "freesdr/dependencies/Catch2"]
	path = freesdr/dependencies/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "freesdr/dependencies/PothosCore"]
	path = freesdr/dependencies/PothosCore
	url = https://github.com/pothosware/PothosCore.git
[submodule "emap/dependencies/readerwriterqueue"]
	path = emap/dependencies/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
[submodule "nyanmap/antenny"]
	path = nyanmap/antenny
	url = https://github.com/xloem/antenny.git
	branch = raspberrypi
